<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1566284628402-3f0895b3eb28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=944&q=80);">
  <div class="container p-5" id="banner-text">
    <h1>Welcome to <strong>Mrs. Cocktails</strong></h1>
    <p>View cocktail recipes from around the world. Contribute by adding your own cocktail recipe!</p>

    <div class="btn btn-add">
      <%= link_to "Mix a cocktail", new_cocktail_path, class: "btn btn-info px-3 py-2" %>
    </div>
  </div>
</div>

<%# <%= cl_image_path cocktail.photo.key %>

<div class="container">
  <div class="container" id="cards-div">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/featured/?cocktail');">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Sharon
  </div>
</div>

